<a href="https://colab.research.google.com/github/saurabhsingh1411/GeeksforGeeks/blob/main/Geeks_for_Geeks_python_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Program for cube sum of first n natural **numbers**

In [ ]:
def sum1(n):
  sum=0
  for i in range(n):
    sum=sum+n**3
  return sum

In [ ]:
sum1(10)

10000

Python Program to check if given array is Monotonic

Given an array A containing n integers. The task is to check whether the array is Monotonic or not. An array is monotonic if it is either monotone increasing or monotone decreasing.

In [ ]:
def montonic (num):
  cnt=0
  cnt2=0
  for i in range(len(num)-1):
    if num[i]<num[i+1] :
      cnt=cnt+1
    elif num[i]>num[i+1]:
      cnt2=cnt2+1
    else :
      return False
    if cnt==len(num) or cnt2==len(num):
      return True
    else :
      return False

In [ ]:
montonic([9,3,2,1])

False

In [ ]:
def isMonotonic(A): 
  
    return (all(A[i] <= A[i + 1] for i in range(len(A) - 1)) or
            all(A[i] >= A[i + 1] for i in range(len(A) - 1)))

Input : Geeks for Geeks
Output : ['Geeks', 'for', 'Geeks']

In [ ]:
str2='geeks for geek'

str2.split()

['geeks', 'for', 'geek']

In [ ]:
words=str2.split()
words

['geeks', 'for', 'geek']

In [ ]:
strback=' '.join(words)

In [ ]:
strback

'geeks for geek'

Python â€“ Replace duplicate Occurrence in String

String slicing in Python to rotate a string

Input : s = "GeeksforGeeks"
        d = 2
Output : Left Rotation  : "eksforGeeksGe" 
         Right Rotation : "ksGeeksforGee" 


Input : s = "qwertyu" 
        d = 2
Output : Left rotation : "ertyuqw"
         Right rotation : "yuqwert"

In [ ]:
a='GeeksforGeeks'

a[::2]

'GesoGes'

In [ ]:
def rotate(input,d):

  lfirst=input[0:d]
  lsecond=input[d:]
  rfirst=input[0:len(input)-d]
  rsecond=input[len(input)-d:]

  print('left rotation :',(lsecond+lfirst))
  print('right rotation:',(rsecond+rfirst))

In [ ]:
rotate('hjdfjhfdsj',4)

left rotation : jhfdsjhjdf
right rotation: fdsjhjdfjh

Dictionary Programs:

In [ ]:
# Input : {'a': 100, 'b':200, 'c':300}
# Output : 600

In [ ]:
#sum of all items in dictionary

In [ ]:
Input = {'a': 100, 'b':200, 'c':300}

In [ ]:
sum=0
for i in Input:
  sum=sum+Input[i]
  
print(sum)

600

In [ ]:
#Python | Ways to remove a key from dictionary

In [ ]:
del Input['a']

In [ ]:
Input

{'b': 200, 'c': 300}

In [ ]:
Input.pop('b')

200

In [ ]:
Input

{'c': 300}

In [ ]:
#Python | Merging two Dictionaries

In [ ]:
def Merge(dict1,dict2):
  return dict2.update(dict1)

In [ ]:
dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}

In [ ]:
# This return None
print(Merge(dict1, dict2))
 
# changes made in dict2
print(dict2)

None
{'d': 6, 'c': 4, 'a': 10, 'b': 8}

In [ ]:
# sample Tuples 
Tuple1 = ("A", 1, "B", 2, "C", 3) 
Tuple2 = ("Geek1", "Raju", "Geek2", "Nikhil", "Geek3", "Deepanshu") 
Tuple3 = ((1, "Lion"), ( 2, "Tiger"), (3, "Fox"), (4, "Wolf")) 
  
# print the sizes of sample Tuples 
print("Size of Tuple1: " + str(sys.getsizeof(Tuple1)) + "bytes") 
print("Size of Tuple2: " + str(sys.getsizeof(Tuple2)) + "bytes") 
print("Size of Tuple3: " + str(sys.getsizeof(Tuple3)) + "bytes")

In [ ]:
tuple1 = ("A", 1, "B", 2, "C", 3)

In [ ]:
import sys
sys.getsizeof(tuple1)

104

In [1]:
# #Python | Program to print duplicates from a list of integers

# Input : list = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]
# Output : output_list = [20, 30, -20, 60]

In [7]:
my_list=[10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]
dup_list=[]
for i in range(len(my_list)) : 
  for j in range(i+1,len(my_list)):
    if my_list[i]==my_list[j] and my_list[i] not in dup_list:
      dup_list.append(my_list[i])

print(dup_list)

[20, 30, -20, 60]

In [9]:
# my_list=[10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]
# dup_list=[]

# for i in my_list :
#   if i not in dup_list:
#     dup_list.append(i)

In [10]:
# Python | Sum of number digits in List

In [12]:
my_list=[10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]
sum=0
for i in my_list:
  sum=sum+i 

print(sum)

280

In [13]:
#Program to check if a string contains any special character

In [25]:
string = "Geeks$For$Geeks"

spe_char=['@','_','!','#','$','%','^','&','*','(',')','<','>','?','/','|']

for i in string :
  if i  in spe_char:
    print('special charater present')
    break
  else : 
    print('special charater not presemt ')
    break

special charater not presemt

In [26]:
# 1) Below is the inverted star pattern of size n=5 
#   (Because there are 5 horizontal lines
#    or rows consist of stars). 

#    *****
#     ****
#      ***
#       **
#        *

In [45]:
for i in range(5,0,-1):

  print((5-i)*' '+i*'*')

*****
 ****
  ***
   **
    *

In [38]:
for i in range(6,0,-1):
  print(i)

6
5
4
3
2
1